.auth-page{
    padding: 0px 45px;

    .checkout-directory{
        height: 30em;
    }

    h2{
        border-bottom: 2px solid #eee;
        padding-bottom: 20px;
    }
}


.auth-forms{
    display: flex;
    justify-content: space-around;
    align-items: center;

     .register{

        button{
            margin-top: 30px;
        }
        
    }
}