.news-container{
    margin-top: 10em;
}
.news-title{
    text-align: center;

    h2{
        color: #262626;
        font-size: 24px;
        font-weight: bolder;
        line-height: 27px;
        margin: 0;
        text-transform: uppercase;
    }

    p{
        color: #727272;
        font-size: 14px;
        font-style: italic;
        line-height: 17px;
        margin: 17px 0 3px;
        padding-bottom: 70px;
        position: relative;


       
    }

    ::after{
        background: rgba(0, 0, 0, 0) url(../../assets/images/news.webp) no-repeat scroll 0 0;
        content: "";
        display: block;
        height: 60px;
        left: 30%;
        position: absolute;
        top: 30px;
        width: 600px;
    }

}

.news-subscribe{
    text-align: center;
    margin-top: 20px;

    form{
        input{
            background: none;
            border-color: #404040;
            border-image: none;
            border-style: none none solid;
            border-width: 0 0 2px;
            color: #727272;
            font-size: 12px;
            font-style: italic;
            height: auto;
            line-height: 15px;
            padding: 0 0 23px;
            text-align: center;
            width: 70%;
        }
    }
}


