.general-wallet-container{
    width: 70%;
    transition: all, 6s ease-in;

    .wallet-heading{
        display: flex;
        justify-content: space-around;
        text-align: center;

      
    }

    .cart-card{
        width: 23em !important;
    height: 7em !important; 
    padding: 20px 0px !important;
    }

 
}

