body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  transition: all 0.3s ease 10s;
  text-decoration: none;
  color: inherit;
}

input{
  outline: none;
}

