.compare-table{
    display: flex;
    gap: 1em;



.table-compare{
    display: flex;
   
    gap: 1em;
}

}
.compare-clear{
    background-color: #c92c61;
    display: flex;
    margin-inline-start: auto;
    margin-bottom: 20px;
    margin-right: 36px;
    padding: 10px 20px;
    border: 1px solid #c92c61;
    color: #fff;
}