

    .homenav{
        background: #fff;
        padding: 15px 35px;
        text-align: center;
        position: relative;
        color: #000;
        
     
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title{
            span{
                display: none;
            }
        }

        svg{
            font-size: 30px;
            
        }
        // span{
        //     font-size: 25px;
        // }

        .cart-dropdown{
            height: 450%;
        }

       
    }

    .generalNav{
        display: flex;
        justify-content: space-between;
        height: 20vh;
        align-items: center;
        color: #fff;
        padding: 0px 50px;

        .title{
            svg{
                display: none;
            }

            
        }

        .navs{
            a{
                padding: 0px 30px;
            }
        }
    }
.nav-details{
    width: fit-content;
    display: flex;
    justify-content: space-around;
    font-weight: bolder;
    align-items: center;

    :nth-child(2){
        border-radius: 6px;
    padding: 10px 13px;
    width: 192px;
    margin: 0px 15px;
    }

    :nth-child(3){
        padding: 10px 5px;
        width: 20%;
        border-radius: 6px;
        margin: 0px 15px;
    }

    .try{
        padding: 11px 0;
        border-radius: 10px;
     background-color: #fff;
        width: 100%;
    }
    .welcome{
        width: 35%;
        margin-left: 20em;
    }

    .iccon{
        padding: 0 !important;
            margin: 0 !important;
            width: 140px !important;
            position: relative;
            right: 20px;
    }
}

.nav-quanties{
    position: absolute;
    right: 75px;
    width: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}
    

